Repository metallang/metal, pull requests merged in 2024-11, with the labels that each got.

#51 refactor: `metal-llvm` to use codegen traits
  crates/metal-llvm/src/codegen.rs
  crates/metal-llvm/src/expr.rs
  crates/metal-llvm/src/lib.rs
  crates/metal-llvm/src/primitives.rs
  crates/metal-llvm/src/stmt.rs
  crates/metal-llvm/src/ty.rs
Labels: p: low, pr: improvement, pr: feature, a: llvm

#48 deps: Automated nightly version update.
  .github/workflows/clippy.yml
  .github/workflows/rustfmt.yml
  .github/workflows/shear.yml
  .github/workflows/test.yml
Labels: a: deps

#54 ci(tests/llvm): updates and platform support
  .github/actions/setup-llvm/action.yml
  .github/workflows/clippy.yml
  .github/workflows/test.yml
  Cargo.toml
  crates/metal-llvm/src/expr.rs
Labels: p: high, pr: improvement, a: ci/cd

#57 feat: Essential Statements/Expressions
  crates/metal-llvm/src/expr.rs
  crates/metal-llvm/src/lib.rs
  crates/metal-llvm/src/stmt.rs
  crates/metal-llvm/src/ty.rs
  crates/metal-mir/src/expr/function_call.rs
  crates/metal-mir/src/expr/literals.rs
  crates/metal-mir/src/expr/mod.rs
  crates/metal-mir/src/lib.rs
  crates/metal-mir/src/parcel.rs
  crates/metal-mir/src/stmt/constant.rs
  crates/metal-mir/src/stmt/functiondef.rs
  crates/metal-mir/src/stmt/import.rs
  crates/metal-mir/src/stmt/mod.rs
  crates/metal-mir/src/struct_.rs
  crates/metal-mir/src/types/function.rs
  crates/metal-mir/src/types/mod.rs
  crates/metal-mir/src/types/visibility.rs
Labels: p: high, pr: feature, a: llvm, a: mir

#64 refactor!: name `metal-llvm` same as `metal-codegen-wasm`
  Cargo.toml
  crates/metal-codegen-llvm/Cargo.toml
  crates/metal-codegen-llvm/src/expr.rs
  crates/metal-codegen-llvm/src/lib.rs
  crates/metal-codegen-llvm/src/primitives.rs
  crates/metal-codegen-llvm/src/stmt.rs
  crates/metal-codegen-llvm/src/stmt/constant.rs
  crates/metal-codegen-llvm/src/stmt/function_definition.rs
  crates/metal-codegen-llvm/src/ty.rs
  crates/metal-codegen-llvm/src/ty/function_signature.rs
  crates/metal-codegen-llvm/src/ty/struct_.rs
  crates/metal-llvm/src/stmt.rs
  crates/metal-llvm/src/ty.rs
Labels: p: high, pr: improvement, a: llvm

#67 deps: Automated nightly version update.
  .github/workflows/clippy.yml
  .github/workflows/rustfmt.yml
  .github/workflows/shear.yml
  .github/workflows/test.yml
Labels: a: deps

#72 refactor!: codegen_* -> llvm_
  crates/metal-codegen-llvm/src/expr.rs
  crates/metal-codegen-llvm/src/lib.rs
  crates/metal-codegen-llvm/src/primitives.rs
  crates/metal-codegen-llvm/src/stmt.rs
  crates/metal-codegen-llvm/src/stmt/constant.rs
  crates/metal-codegen-llvm/src/stmt/function_definition.rs
  crates/metal-codegen-llvm/src/ty.rs
  crates/metal-codegen-llvm/src/ty/function_signature.rs
  crates/metal-codegen-llvm/src/ty/struct_.rs
Labels: a: llvm

#75 feat(llvm): add function for compiling modules
  crates/metal-codegen-llvm/src/core.rs
  crates/metal-codegen-llvm/src/lib.rs
  crates/metal-codegen-llvm/src/safeties.rs
Labels: a: llvm

#76 tests(llvm): core module tests
  crates/metal-codegen-llvm/src/core.rs
  crates/metal-codegen-llvm/src/safeties.rs
  crates/metal-codegen-llvm/src/stmt.rs
  crates/metal-codegen-llvm/src/stmt/function_definition.rs
  crates/metal-mir/src/parcel.rs
  crates/metal-mir/src/stmt/functiondef.rs
  crates/metal-mir/src/stmt/import.rs
  crates/metal-mir/src/stmt/mod.rs
  crates/metal-mir/src/stmt/return_.rs
Labels: a: llvm
